<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>APP FIRST</title>
  <%=stylesheet_link_tag("application.css")%>
  </head>
  <body>
    <div class = "main-news">
      <div class = "top-news">
        <div class = "a">
          <div class = "main-top-news">CONTACT</div>
        </div>
        <div class = "b">
          <div class = "sub-top-news">お問い合わせ</div>
        </div>  
      </div>
    </div>

    <div class = "contact-main">
      <form class = "contact-form">
        <div class = "daimei">
          <h2 class = "heading-name">弊社に関するお問い合わせ、お仕事のご依頼は下記よりご連絡ください。</h2>
        </div> 
        <div class = "input-all">
          <div class = "contents-1">
            <div class = "tag">会社名
            <input type = "text"placeholder = "（株）ホーム株式会社" class = "filed">
          </div>

            <div class = "contents-2">
            <div class = "tag">お名前
            <input type = "text"placeholder = "（例）山田太朗" class = "filed">
          </div>

            <div class = "contents-3">
            <div class = "tag">電話番号
            <input type = "tel"placeholder = "（例）02-1234-5678" class = "filed">
          </div>

            <div class = "contents-4">
            <div class = "tag">メールアドレス
            <input type = "text"placeholder = "（例）abcd@efg.com.jp" class = "filed">
          </div>

            <div class = "contents-5">
            <div class = "tag">件名
            <input type = "text"placeholder   class = "filed">
          </div>

            <div class = "contents-6">
            <div class = "tag">お問い合わせ内容
            <input type = "text"placeholder = "ここにテキストを入力" class = "filed-1">
          </div>
        </div>
        <input type="submit" value="SEND" class="send">

      </form>
    </div>
  </body>
</html>      