<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>APP FIRST</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class = "header">
      <div class = "title">APP FIRST</div>
        <div class = "sub-title">
          <p>SERVICE</p>
          <p>NEWS</p>
          <p>CONTACT</p>
        </div>
      </div>

      <div class = "main">
        <div class ="message">
          <h1>プロトタイプから始めよう</h1>
          <p>あなたのアイディアを、最小のコストでアプリに</p>
        </div>
        <div class = "button">
          <P>サービスを見る</P>
        </div>
      </div>
    </div>
    <div class = "footer">
      <p>Copyright©️2022 TECHCAMP」</p>
    </div>
  </body>
</html>