<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>APP FIRST</title>
  <%=stylesheet_link_tag("application.css")%>
  </head>
  <body>
    <div class = "main" >
      <%=image_tag("hero.jpg", class: "hero-image")%>
      <div class = "main-sub">
        <div class = "left-title">
          <div class = "main-title">プロトタイプから始めよう</div>
          <div class = "sub-title">あなたのアイディアを、最小のコストでアプリに</div>
        </div>
        <div class = "right-title">
          <div class= "button">
            <div class = "button-text">サービスを見る</div>
          </div>
        </div> 
      </div>
    </div>
  </body>
</html>