<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>APP FIRST</title>
  <%=stylesheet_link_tag("application.css")%>
  </head>
  <body>
    <div class = "header">
      <div class = "main-header">APP FIRST</div>

      <div class = "sub-header">
        <div class = "left-header">SERVICE</div>
        <div class = "middle-header">NEWS</div>
        <div class = "right-header">CONTACT</div>
      </div>
    </div>
  </body>  
</html>