<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>APP FIRST</title>
  <%=stylesheet_link_tag("application.css")%>
  </head>
  <body>
    <div class = "main-news">
      <div class = "top-news">
        <div class = "a">
          <div class = "main-top-news">NEWS</div>
        </div>
        <div class = "b">
          <div class = "sub-top-news">お知らせ</div>
        </div>  
      </div>

      <div class = "bottom-news">
        <div class ="aa">
          <div class = "left-bottom-news">
            <div class = "left-news-title">ワークショップ開催のお知らせ</div>
            <div class = "left-news-top">
              <div class = "left-news-top-left">2024年4月1日</div>
              <div class = "left-news-top-right">カテゴリー：お知らせ</div>
            </div>
            <%=image_tag("work-shop.jpg", class: "work-shop-image")%>
            <div class = "left-news-bottom">
              <div class = "left-news-middle">アプリケーションのリリースに関心がある方を対象に、「ペーパープロトタイピング体験会」ワークショップを開催します。
                <br>プロトタイプの作成を通じて、実装的なデザイン思考を学ぶ事ができます。
                <br>どうぞ奮ってご参加ください。
              </div>
              <div class = "left-news-bottom">◯月◯日19:00〜
                <br>場所：東京都渋谷区
              </div>
            </div>  
          </div>
        </div>
        <div class ="bb">
          <div class = "right-bottom-news">
            <div class = "right-news-title">カテゴリー</div>
            <div class = "right-news-top">
              <div class = "news-text-top">お知らせ</div>
            </div> 
            <div class = "right-news-middle">
              <div class = "news-text-middle">プレスリリース</div>
            </div>
            <div class = "right-news-bottom">
              <div class = "news-text-bottom">メディア機能</div>
            </div>
          </div>
        </div>  
      </div>
      </div>
    </div>
  </body>
</html>