/* ヘッター */
.header{
  display: flex;
  background-color: #DBDBDBDB;
  height: 100px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 100px;
}

.main-header{
  font-size: 36px;
  font-weight: 600;

}

.sub-header{
  display: flex;
  font-size: 22px;
  font-weight: 600;
}

.left-header{
  padding-right: 70px;
}

.middle-header{
  padding-right: 70px;
}

.right-header{

}

/* メイン */

.main{
  height: 700px;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}

.main-sub{
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  width: 100vw;
  height: 700px;
  object-fit: cover;
  opacity: 30%;

}

.left-title{
  padding-left: 60px;
}

.main-title{
  font-size: 70px;
  font-weight: 600;
  
}

.sub-title{
  font-size: 18px;
  margin-top: 10px;
}

.right-title{
  margin-right: 60px;
}

.button{
  height: 100px;
  width: 250px;
  background-color: #959595;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.button-text{
  font-size: 24px;
  font-weight: 600;
}

/* フッター */

.footer{
  height: 70px;
  width: 100vw;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-message{
  font-size: 16px;
  color: #959393;
}


/* service.html.erbのcss */


/* topの二つ */
.main-service{

}

.top-service{
  padding-top: 50px;
  padding-bottom: 150px;
}

.a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-top-service{
  font-size: 64px;
  font-weight: 600;
}

.b{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-top-service{
  font-size: 24px;
  font-weight: 600;
}

/* bottomの3つ */

.bottom-service{
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  padding-bottom: 180px;
}

/* 左 */

.left-bottom-service{
  height: 420px;
  width: 350px;
  border-radius: 30px;
}

.left-image{
  height: 275px;
  width: 350px;
}

.left-explain{
  height: 120px;
  width: 350px;
  background-color: #DADADA;
  padding: 20px;
}

.left-explain-main{
font-size: 18px;
font-weight: 600;
}

.left-explain-sub{
font-size: 14px;
padding-top: 14px;
}

/* 真ん中 */

.middle-bottom-service{
  height: 420px;
  width: 350px;
  border-radius: 30px;
}

.middle-image{
  height: 275px;
  width: 350px;
}

.middle-explain{
  height: 120px;
  width: 350px;
  background-color: #DADADA;
  padding: 20px;
}

.middle-explain-main{
  font-size: 18px;
  font-weight: 600;
}

.middle-explain-sub{
  font-size: 14px;
  padding-top: 14px;
}

/* 右 */

.right-bottom-service{
  height: 420px;
  width: 350px;
  border-radius: 30px;
}

.right-image{
  height: 275px;
  width: 350px;
}

.right-explain{
  height: 120px;
  width: 350px;
  background-color: #DADADA;
  padding: 20px;
}

.right-explain-main{
  font-size: 18px;
  font-weight: 600;
}

.right-explain-sub{
  font-size: 14px;
  padding-top: 14px;
}

/* newの画面 */

.main-news{

}

/* メイン上 */

.top-news{
  padding-top: 50px;
  padding-bottom: 150px;
}

.main-top-news{
  font-size: 64px;
  font-weight: 600;
}

.sub-top-news{
  font-size: 24px;
  font-weight: 600;
}

/* メイン下 */

.bottom-news{
display: flex;
}

/* メイン下左画面 */

.aa{
  width: 960px;
  display: flex;
  justify-content: center;
}

.left-bottom-news{
  height: 600px;
  width: 630px;
}

.left-news-title{
  font-size: 36px;
  font-weight: 600;
}

.left-news-top{
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.left-news-top-left{
padding-right: 60px;
font-size: 18px;
}

.left-news-top-right{
  font-size: 18px;
}

.work-shop-image{
  width: 630px;
  height: 240px;
}

.left-news-bottom{
  padding-top: 20px;
}

.left-news-middle{
  font-size: 18px;
}

.left-news-bottom{
  font-size: 18px;
}

/* メイン下右画面 */

.bb{
  width: 406px;
  display: flex;
  justify-content: center;
}

.right-bottom-news{

}

.right-news-title{
  font-size: 24px;
  font-weight: 600;
}

.right-news-top{
  width: 200px;
  height: 60px;
  background-color: #EEEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.news-text-top{
font-size: 18px;
font-weight: 600;
}

.right-news-middle{
  width: 200px;
  height: 60px;
  background-color: #EEEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.news-text-middle{
  font-size: 18px;
  font-weight: 600;
}

.right-news-bottom{
  width: 200px;
  height: 60px;
  background-color: #EEEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.news-text-bottom{
  font-size: 18px;
  font-weight: 600;
}
